/* src/components/WeatherForecastDay.css */
.WeatherForecastDay {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.WeatherForecast-day {
  font-size: 1.2rem;
  font-weight: bold;
}

.WeatherForecast-temperatures {
  display: flex;
  justify-content: space-around;
}

.WeatherForecast-temperature-max,
.WeatherForecast-temperature-min {
  font-size: 1rem;
  margin: 0 5px;
}
